/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* General */

body {
  background-color: #f7f8fa;
}

/* Handling Main Content with HTML imports */

.content {
  visibility: hidden;
  overflow: hidden !important;
  opacity: 0;
}

.content.is-shown {
  visibility: visible;
  opacity: 1;
}



/* Handle width of contents */

.container {
  width: 95% !important;
}

/* Navbar and side menu*/

header,
main,
footer {
  padding-left: 250px;
}

@media only screen and (max-width : 992px) {

  header,
  main,
  footer {
    padding-left: 0;
  }
}

.sidenav {
  width: 250px !important;
  background-color: #525a65 !important;
}

nav a {
  color: #525a65 !important;
}

.nav-fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0px;
  z-index: 997;
}

/* Icons and cards */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* Scroll table with books */

.card-scrollable {
  overflow: auto !important;
}

/* Input field colors */

/* label color */
.input-field label {
  color: #000;
}

/* label focus color */
.input-field input[type=text]:focus+label {
  color: #03a9f4;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #03a9f4;
  box-shadow: 0 1px 0 0 #03a9f4;
  ;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

/* Design of sidemenu */

#side-menu-header {
  font-size: 25px;
}

#side-menu-header-icon {
  margin: 0px 40px 0 0;
  color: #83bedf;
}

/* About page modal in fullscreen */

#about-page {
  max-height: 100%;
  height: 100%;
  width: 100%;
  top: 0% !important;
}