/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

/* General */


html {
  height: 100%;
  font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
  background-color: #f7f8fa;
  overflow: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0px;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Handling Main Content with HTML imports */

.content {
  visibility: visible;
  opacity: 1;
}

.section-content {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: hidden;

  /* Page transitions */
  transform: translateX(-20px);
  transition: visibility 0s .12s linear, opacity .12s ease-in, transform .12s ease-in;
  width: calc(100% - 250px);

}

.section-content.is-shown {
  visibility: visible;
  opacity: 1;

  /* Page transitions */
  transform: translateX(0);
  transition: visibility 0s 0s linear, opacity .36s ease-out, transform .36s ease-out;
}

/* Respect full width with position absolute in mobile view */
@media only screen and (max-width : 992px) {
  .section-content {
    width: 100%;
  }
}

/* Handle width of contents */

.container {
  width: 95% !important;
}

/* Navbar and side menu*/

@media only screen and (min-width : 993px) {

  nav {
    width: calc(100% - 250px);
  }
}

header,
main,
footer {
  padding-left: 250px;
}

@media only screen and (max-width : 992px) {

  header,
  main,
  footer {
    padding-left: 0;
  }
}

.sidenav {
  width: 250px !important;
  background-color: #525a65 !important;
}

nav a {
  color: #525a65 !important;
}

.nav-fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  margin-bottom: 0px;
  z-index: 997;
}

/* Icons and cards */

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

/* Scroll table with books */

.card-scrollable {
  overflow: auto !important;
}

/* Input field colors */

/* label color */
.input-field label {
  color: #000;
}

/* label focus color */
.input-field input[type=text]:focus+label {
  color: #03a9f4;
}

/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #03a9f4;
  box-shadow: 0 1px 0 0 #03a9f4;
  ;
}

/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #000;
  box-shadow: 0 1px 0 0 #000;
}

/* icon prefix focus color */
.input-field .prefix.active {
  color: #000;
}

/* Design of sidemenu */

#side-menu-header {
  font-size: 25px;
}

#side-menu-header-icon {
  margin: 0px 40px 0 0;
  color: #83bedf;
}


/* Search Bar */

input[id="pattern"] {
  height: 45px !important;
  margin-top: 10px;
  border-radius: 5px;
}

i[id="search-close"] {
  margin-top: -9px;
}

.search-input {
  background-color: #82b1ff;
  height: 45px !important;
  margin-top: 10px;
  border-radius: 5px;
}

nav .input-field label {
  top: -8px;
  left: 0;
}